*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 2.8rem;
    font-weight: 600;
}
button{
    background: rgb(75 112 226);
    color: white;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 20px;
    font-size: 2rem;
}
input{
    width: 450px;
    height: 30px;
    font-size: 2rem;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.result{
background: rgb(209 230 221);
border-radius: 10px;
padding: 3rem;
width: 68%;
border: 1px solid rgb(192 220 211);
}
.result i{
    color: rgb(255 198 66);
}